// Mixins Here

.flex(@justify, @direction){
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
}

.navText(){
    font-size: 1.6rem;
    color:  @ebony-clay;
    text-decoration: none;
}

.button(@fontSize, @textColor){
    font-size: @fontSize;
    background-color: @btn-bg-color;
    color: @textColor;
    border-radius: 10px;
    display: inline;
    padding: 2.5% 6%;

    @media @mobile{
        display: block;
        padding: 6% 0%;
        text-align: center;
    }

    &:hover{
        background-color: rgb(34, 40, 58);
        color: gray;
    }
}