// Mixins Here

.flex(@justify, @direction){
    display: flex;
    justify-content: @justify;
    flex-direction: @direction;
}

.navText(){
    font-size: 2rem;
    color: @river-bend;
}

.button(@fontSize, @textColor){
    font-size: @fontSize;
    background-color: @btn-bg-color;
    color: @textColor;
    border-radius: 10px;
    display: inline;
    padding: 2.5% 6%;

    &:hover{
        background-color: rgb(34, 40, 58);
        color: gray;
    }
}